/* ===========================
   TABLETS
=========================== */

@media (max-width:992px){

    .section-title{
        font-size:2.4rem;
    }

    .hero{
        text-align:center;
        padding:80px 0;
    }

    .hero-title{
        font-size:3rem;
    }

    .hero-text{
        max-width:520px;
        width:100%;
        margin:0 auto;
    }

    .hero-visual{
        width:320px;
        height:320px;
        margin-top:60px;
    }

    .hero-circle{
        width:180px;
        height:180px;
        font-size:60px;
    }

    .lang-chip{
        font-size:.85rem;
        padding:8px 14px;
    }

}


/* ===========================
   MOBILE
=========================== */

@media (max-width:768px){

    .section-title{
        font-size:2rem;
    }

    .main-btn,
    .outline-btn{
        width:100%;
        margin-bottom:15px;
    }

    .feature-card{
        padding:28px;
    }

    .feature-icon{
        width:70px;
        height:70px;
        font-size:28px;
    }

    .step-card{
        margin-bottom:20px;
    }

    .step-icon{
        width:75px;
        height:75px;
        font-size:30px;
    }

    .preview-card{
        padding:25px;
    }

    .preview-buttons{
        flex-direction:column;
    }

    .language-chip{
        padding:12px 20px;
        font-size:.95rem;
    }

    .cta-box{
        padding:45px 25px;
    }

    .cta-box h2{
        font-size:2rem;
    }

    .hero-buttons{
    gap:14px;
    }

}


/* ===========================
   SMALL PHONES
=========================== */

@media (max-width:576px){

    .hero-title{
        font-size:2.3rem;
    }

    .hero-text{
        font-size:1rem;
        max-width:100%;
        padding:0 15px;
    }

    .hero-circle{
        width:180px;
        height:180px;
        font-size:4rem;
    }

}